#screen {
    position: absolute;
    height: 98vh;
    width: 1229px;
    margin: 0 auto;
    background-color: black;
}

#container1 {
    display: flex;
    align-items: flex-end;
    height: 32%;
    width: 100%;
    background-color: lightblue;
}

#container2 {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 28%;
    width: 100%;
    background-color: yellow;
}

#container3 {
    display: flex;
    align-items: flex-end;
    height: 40%;
    width: 100%;
    background-color: maroon;
}

#longFloor {
    background-color: black;
    height: 35%;
    width: 160px;
    bottom: 0;
    float: left;
    text-align: center;
    color: white;
    font-size: .8em;
}

#longFloorWall {
  background-color: red;
    height: 35%;
    width: 1px;
    bottom: 0;
    float: left;
}

#floor {
    background-color: black;
    height: 35%;
    width: 130px;
    bottom: 0px;
    float: left;
}

#floorWall {
    background-color: red;
    height: 35%;
    width: 1px;
    bottom: 0px;
    float: left;
}

#shortFloor {
    background-color: black;
    height: 35%;
    width: 90px;
    bottom: 0px;
    float: left;
}

#shortFloorWall {
    background-color: red;
    height: 35%;
    width: 1px;
    bottom: 0px;
    float: left;
}

#shortFloor3 {
    background-color: black;
    height: 35%;
    width: 60px;
    bottom: 0px;
    float: left;
}

#shortFloor3Wall {
    background-color: red;
    height: 35%;
    width: 1px;
    bottom: 0px;
    float: left;
}

#hole {
    background-color: red;
    height: 15%;
    width: 50px;
    bottom: 0px;
    float: left;
}

#longHole {
    background-color: red;
    height: 15%;
    width: 100px;
    bottom: 0px;
    float: left;
}

#pillar1 {
    background-color: darkgrey;
    height: 50%;
    width: 50px;
    bottom: 0px;
    float: left;
}

#pillar1Wall {
    background-color: red;
    height: 50%;
    width: 1px;
    bottom: 0px;
    float: left;
}

#longPillar1 {
    background-color: darkgrey;
    height: 50%;
    width: 130px;
    bottom: 0px;
    float: left;
    text-align: center;
    font-size: .8em;
    color: white;
}

#longPillar1Wall {
    background-color: red;
    height: 50%;
    width: 1px;
    bottom: 0px;
    float: left;
}

#pillar2 {
    background-color: grey;
    height: 65%;
    width: 65px;
    bottom: 0px;
    float: left;
}

#pillar2Wall {
    background-color: red;
    height: 65%;
    width: 1px;
    bottom: 0px;
    float: left;
}

#pillar3 {
    background-color: lightgrey;
    height: 80%;
    width: 45px;
    bottom: 0px;
    float: left;
}

#pillar3Wall {
    background-color: red;
    height: 80%;
    width: 1px;
    bottom: 0px;
    float: left;
}

#winZone {
    background-color: green;
    height: 30%;
    width: 101px;
    bottom: 0px;
    float: left;
    text-align: center;
    color: white;
    font-size: .8em;
}

h1{
    margin: 0 auto;
    text-align: center;
}

h2 {
   margin-top: 25px;
}

h3 {
    margin-top: 40px;
    font-size: 1.5em;
    color: white;
}

#player {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: blue;
    top: 17.8%;
    left: 1%;
    z-index: 1;
}

button {
  display: block;
  width: 100%;
  height: 10vh;
  background-color: blue;
  text-align: center;
  font-size: 2.5em;
  font-family: Helvetica;
}
