body {
    height: 700px;
    width: 1219px;
    margin: 0 auto;
    background-image: url("./trees.png");
    background-position: center;
    display: cover;

}

header {
    height: 210px;
    width: 1219px;
    margin: 0 auto;
    background-image: url("./Pokemon_logo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;


}

/*.screen {
    position: absolute;
    height: 98vh;
    width: 1229px;
    margin: 0 auto;
    background-color: black;
}*/

.container1 {
    display: flex;
    align-items: flex-end;
    height: 400px;
    width: 1219px;
    background-image: url("sky.jpeg");
    background-size: cover;
    background-position: center;
}

/*.container2 {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    height: 196px;
    width: 1239px;
    background-color: yellow;
}

.container3 {
    display: flex;
    align-items: flex-end;
    height: 280px;
    width: 1239px;
    background-color: maroon;
}*/

.floorLong {
    background-image: url("./floor.png");
    background-size: cover;
    background-position: center;
    border-radius: .5em;
    height: 80px;
    width: 120px;
    bottom: 0;
    float: left;
    text-align: center;
    color: white;
    font-size: .8em;
}

.floorLongWall {
    background-color: red;
    opacity: 0;
    height: 80px;
    width: 1px;
    bottom: 0;
    float: left;
}

.floor {
    background-image: url("./floor.png");
    background-size: cover;
    background-position: center;
    border-radius: .5em;
    height: 80px;
    width: 70px;
    bottom: 0px;
    float: left;
}

.floorWall {
    background-color: red;
    opacity: 0;
    height: 80px;
    width: 1px;
    bottom: 0px;
    float: left;
}

.floorShort {
    background-color: black;
    height: 80px;
    width: 90px;
    bottom: 0px;
    float: left;
}

.floorShortWall {
    background-color: red;
    height: 80px;
    width: 1px;
    bottom: 0px;
    float: left;
}

.floor3Short {
    background-color: black;
    height: 80px;
    width: 60px;
    bottom: 0px;
    float: left;
}

.floor3ShortWall {
    background-color: red;
    opacity: 0;
    height: 80px;
    width: 1px;
    bottom: 0px;
    float: left;
}

.hole {
    background-image: url("./lava.jpg");
    height: 40px;
    width: 50px;
    bottom: 0px;
    float: left;
}

.holeLong {
    background-color: red;
    height: 40px;
    width: 100px;
    bottom: 0px;
    float: left;
}

.pillar1 {
    background-image: url("./poke_page.png");
    background-size: cover;
    background-position: center;
    height: 115px;
    width: 50px;
    bottom: 0px;
    float: left;
}

.pillar1Wall {
    background-color: red;
    opacity: 0;
    height: 115px;
    width: 1px;
    bottom: 0px;
    float: left;
}

.pillar1Long {
    background-image: url("./floor.png");
    background-size: cover;
    background-position: center;
    border-radius: .5em;
    height: 115px;
    width: 100px;
    bottom: 0px;
    float: left;
    text-align: center;
    font-size: .8em;
    color: white;
}

.pillar1LongWall {
    background-color: red;
    opacity: 0;
    height: 115px;
    width: 1px;
    bottom: 0px;
    float: left;
}

.pillar2 {
    background-image: url("./floor.png");
    background-size: cover;
    background-position: center;
    border-radius: .3em;
    height: 160px;
    width: 80px;
    bottom: 0px;
    float: left;
}

.pillar2Wall {
    background-color: red;
    opacity: 0;
    height: 160px;
    width: 1px;
    bottom: 0px;
    float: left;
}

.pillar3 {
    background-image: url("./floor.png");
    background-size: cover;
    background-position: center;
    border-radius: .3em;
    height: 205px;
    width: 45px;
    bottom: 0px;
    float: left;
}

.pillar3Wall {
    background-color: red;
    opacity: 0;
    height: 205px;
    width: 1px;
    bottom: 0px;
    float: left;
}

.dangerZone {
  background-image: url("./rocks.png");
  background-size: cover;
  background-position: center;
  border-radius: .3em;
  height: 60px;
  width: 30px;
  bottom: 0px;
  float: left;
}

.dangerZoneWall {
  background-color: red;
  opacity: 0;
  height: 60px;
  width: 1px;
}

.winZone {
    background-color: green;
    height: 300px;
    width: 1px;
    bottom: 0px;
    float: left;
    text-align: center;
    color: white;
    font-size: .8em;
}

h1{
    margin-top: 150px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #02183a;
    font-size: 3em;
}

h2 {
    margin: 20px;
}

h4 {
   margin-top: 25px;
   font-size: 1em;
}

h3 {
    margin-top: 40px;
    font-size: 1.5em;
    color: white;
}

p {
    font-size: 1em;
    font-family: 'Aldrich', sans-serif;
    text-align: center;
}

.player {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 380px;
    left: 0px;
    z-index: 1;
}

img {
  display: block;
  height: 40px;
  width: 40px;
}

button {
  display: block;
  width: 100%;
  height: 10vh;
  background-color: blue;
  text-align: center;
  font-size: 2.5em;
  font-family: Helvetica;
}

.lose {
    position: absolute;
    z-index: -1;
    top: 260px;
    left: 400px;
    height: 200px;
    width: 400px;
    text-align: center;
    font-family: 'Aldrich', sans-serif;
    background-color: #dbbf58;
    border: dotted #2a59b0 10px;
}

.win {
    position: absolute;
    z-index: -1;
    top: 260px;
    left: 410px;
    height: 270px;
    width: 400px;
    text-align: center;
    font-family: 'Aldrich', sans-serif;
    background-color: lightgreen;
    border: dotted #2a59b0 10px;
}

.pikachu {
  margin: 0 auto;
  height: 80px;
  width: 80px;
}

footer {
  display: flex;
  justify-content: flex-start;
}

#usernameBox {
    height: 50px;
    width: 200px;
    background-color: #5cc0f2;
    border: solid #2a59b0 10px;
    margin-top: 10px;
    font-size: 1em;
    font-family: 'Aldrich', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 850px){

body {
    height: 700px;
    width: 850px;
}

header {
    height: 210px;
    width: 850px;
}

.container1 {
    height: 400px;
    width: 850px;
}


.lose {
    top: 260px;
    left: 200px;
    height: 200px;
    width: 400px;
}

.win {
    top: 260px;
    left: 205px;
    height: 270px;
    width: 400px;
}


}
